@import "../bower_components/normalize-css/normalize.css";
@import "../bower_components/typeplate-starter-kit/css/typeplate.css";
/**
 * BOX-SIZING
 */

*,
*:before,
*:after {
    box-sizing: border-box;
}
/**
 * GRIDS
 */

.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;
    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@define-mixin gridify $col,
$width,
$gutter: 2 {
    @media only screen and (min-width: $(width)px) {
        .grid-$(col)-$(width) {
            & > * {
                width: calc((100 / $col) - $gutter)%;
            }
            @mixin-content;
        }
    }
}

@mixin gridify 2,
400 {}

@mixin gridify 4,
600 {}
/**
 * PACE (automatic pre-loader thingy)
 */

.pace {
    pointer-events: none;
    user-select: none;
    transition: all 1s ease;
    .pace-progress {
        background: #2299dd;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
        transition: all 1s ease;
    }
}

.pace-inactive {
    opacity: 0;
}

.pace-active {
    opacity: 1;
}
/**
 * GENERAL
 */

img {
    max-width: 100%;
}
/**
 * YOUR CODE HERE
 */

.header {
    width: 100%;
    height: 46px;
    background-color: #333333;
}

.player {
    width: 800px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}

form {
    overflow: auto;
    input {
        float: left;
        margin-top: 8px;
        margin-left: 1%;
        width: 42%;
        border-radius: 4px;
        border: 0;
        height: 27px;
        background-color: #f2f2f2;
        font-family: Arial;
        font-size: 15px;
        padding-left: 8px;
    }
}

.top {
    width: 100%;
    height: 135px;
}

.bottom {
    width: 100%;
    height: 58px;
    border: 1px solid #D4D4D4;
    img {
        float: left;
        width: 13px;
        height: 13px;
        margin-left: 150px;
        margin-top: 22px;
    }
    p {
        float: left;
        margin-left: 150px;
        margin-top: 20px;
        font-family: Arial;
        color: black;
        font-size: 12px;
    }
    h6 {
        float: left;
        font-size: 12px;
        font-family: Arial;
        font-weight: normal;
        margin-top: 23px;
        margin-left: 4px;
    }
    #logo {
        width: 20px;
        height: 20px;
        margin-top: 20px;
        margin-left: 89px;
    }
}

#image {
    float: left;
    width: 20%;
    height: 100%;
    border-top: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
}

#controls {
    float: left;
    width: 80%;
    height: 53%;
    border: 1px solid #D4D4D4;
    position: relative;
    border-bottom: 0px;
    img {
        float: right;
        width: 13px;
        height: 13px;
        margin: 3px;
        margin-top: 28px;
        filter: invert(60%)
    }

    h6 {
        color: black;
        font-family: Arial;
        font-size: 13px;
        margin-left: 30%;
        margin-top: 28px;
        font-weight: normal;
    }

    #replay {
        float: left;
        margin-left: 50px;
    }

    #last {
        margin-right: 50px;
    }
}

#song_length {
    float: left;
    border: 1px solid #D4D4D4;
    width: 80%;
    height: 48%;
    border-bottom: 0px;
}

.logo {
    float: left;
    width: 70px;
    height: 100%;
    margin-left: 6%;
    background: linear-gradient(#FF7600, #FF3900);
    img {
        margin-left: 12px;
        width: 45px;
        height: 50px;
        margin-top: -4px;
    }
}

#home {
    width: 7%;
    height: 100%;
    background-color: #111111;
    float: left;
    min-width: 55px;
}

#collection {
    width: 7%;
    height: 100%;
    float: left;
    border-right: 1px solid #111111;
    min-width: 75px;
}

p {
    color: #E1E1E1;
    font-family: Arial;
    text-align: center;
    margin-top: 10px;
    font-size: 14.5px;
}

p:hover {
    color: #FCFCFC;
}

img {
    height: 100%;
    width: 100%;
}


